@import "tailwindcss";

/* Định dạng bắt buộc cho html5-qrcode và video element */
#reader {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #000000 !important;
}

#reader video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block !important;
  border-radius: 1rem !important;
}

#reader__scan_region {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
}

#reader__scan_region img {
  display: none !important;
}

#reader canvas {
  display: none !important;
}

#reader__dashboard {
  display: none !important;
}

#reader__header_message {
  display: none !important;
}
